{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
{% include 'back/message.html' %}

<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Categories List<br><small>you can add,edit and delete your data!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Category</li>
    <li><a href="{% url 'cat_list' %}">List</a></li>
</ul>
<div class="block full">
    <div class="block-title">
        <h2><strong>Export</strong> Date</h2>
    </div>
    <div class="table-responsive">
        <a href="{% url 'export_cat_csv' %}" data-toggle="tooltip" title="export csv file" class="btn btn-xs btn-default">Csv</a>

    </div>
</div>

<div class="block full">
    <div class="block-title">
        <h2><strong>Import</strong> Date</h2>
    </div>
    <form action="{% url 'import_cat_csv' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
    <div class="table-responsive">
        <input type="file" name="csv_file" id="csv_file">
        <br>
        <button type="submit">Submit</button>
    </div>
    </form>
</div>

<div class="block full">
    <div class="block-title">
        <h2><strong>Category</strong> List</h2>
    </div>


    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
            <tr>

                <th>Title</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in cat %}
                <td class="text-center">{{i.pk}}</td>
                <td>{{i.name}}</td>

                <td class="text-center">
                    <div class="btn-group">
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Edit"
                           class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                        <a href="{% url 'news_delete' i.pk %}"  data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i
                                class="fa fa-times">Delete</i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>

{% endblock %}

 {% block footerblock %}
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock footerblock %}
