{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
{% include 'back/message.html' %}

<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Manager List<br><small>you can add,edit and delete your data!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Manager</li>
    <li><a href="{% url 'manager_group' %}">Group</a></li>
</ul>
<div class="block full">
    <div class="block-title">
        <h2><strong>Manager</strong> Group</h2>
    </div>


    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
            <tr>

                <th>Name</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in group %}

                <td>{{i.name}}</td>




                <td class="text-center">
                    <div class="btn-group">
                        <a href="{% url 'news_edit'  i.pk %} " data-toggle="tooltip" title="Edit"
                           class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                        <a href="{% url 'manager_delete' i.pk %}"  data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i
                                class="fa fa-times">Delete</i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>

{% endblock %}

 {% block footerblock %}
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock footerblock %}
