{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
{% include 'back/message.html' %}
{% block headblock %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Edit News<br><small>you can add,edit and delete your data!</small>
        </h1>
    </div>
</div>

<ul class="breadcrumb breadcrumb-top">
    <li>News</li>
    <li><a href="{% url 'news_edit' pk %}">Edit</a></li>
</ul>
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">

                <h2><strong>News</strong>Edit</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="{% url 'news_edit' pk %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="newstitle" value="{{news.name}}" name="newstitle" class="form-control" placeholder="News Title">
                    </div>
                    <div class="col-md-6">

                        <select id="newscat" name="newscat" class="select-chosen"
                                data-placeholder="" style="width: 250px;">
                            <!-- Required for data-placeholder attribute to work with Chosen plugin -->
                            <option value="{{news.catid}}">{{news.catname}}</option>
                            {% for i in subcat %}
                            <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                            {% endfor %}


                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <textarea type="text" name="newstxtshort" id="newstxtshort" rows="5" class="form-control" placeholder="Short Text">{{news.short_txt}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea type="text" name="newstxt" id="newstxt" rows="5" class="form-control" placeholder="Body Text">{{news.body_txt}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" name="myfile" id="myfile" rows="5" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <img src="{{news.picurl}}" class="img-circle" width="60px" height="60px">
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-6">
                        <textarea type="text" name="tag" id="tag" rows="5" class="form-control"
                                  placeholder="Tags">{{news.tag}}</textarea>
                    </div>
                </div>
                 <script>
                ClassicEditor
                  .create( document.querySelector( '#newstxt' ), {
                    // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
                  } )
                  .then( newstxt => {
                    window.editor = editor;
                  } )
                  .catch( err => {
                    console.error( err.stack );
                  } );
          </script>
                       <script>
                ClassicEditor
                  .create( document.querySelector( '#newstxtshort' ), {
                    // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
                  } )
                  .then( newstxtshort => {
                    window.editor = editor;
                  } )
                  .catch( err => {
                    console.error( err.stack );
                  } );
          </script>



                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right">Update News</i>
                        </button>
                    </div>
                </div>


            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>

</div>


{% endblock %}

{% block footerblock %}
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock footerblock %}
